<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Vas-y en bus !</title>
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>

<!-- Carousel
================================================== -->
<div th:replace="fragments/carousels :: carousel-principal"></div>

<div th:replace="fragments/trajet-form :: trajet-form"></div>

<div th:replace="fragments/carousels :: carousel-secondaire"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="../../resources/js/bootstrap-datetimepicker.min.js" th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>
<script src="../../resources/js/bootstrap-datetimepicker.fr.js" th:src="@{/resources/js/bootstrap-datetimepicker.fr.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../../resources/js/bootstrap-select.min.js" th:src="@{/resources/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" src="../../resources/js/script.js" th:src="@{/resources/js/script.js}"></script>
<div class="device-xs visible-xs">XS</div>
<div class="device-sm visible-sm">SM</div>
<div class="device-md visible-md">MD</div>
<div class="device-lg visible-lg">LG</div>
</body>
</html>
