<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Vas-y en bus !</title>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Libéralisation des transports en autocar</h4>
            </div>
            <div class="modal-body">
                La loi Macron prévoit d'autoriser les autocars à transporter librement des passagers sur de longues distances en France.
                Si vous souhaitez que cela soit possible, soyez pour l'acticle 2 de la loi Macron sur la libéralisation des transports en autocar !
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/nav :: nav"></div>

<!-- Carousel
================================================== -->
<div th:replace="fragments/carousels :: carousel-principal"></div>

<div th:replace="fragments/trajet-form :: trajet-form"></div>

<div th:replace="fragments/carousels :: carousel-secondaire"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
