<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Vas-y en bus !</title>
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>

<!-- Carousel
================================================== -->
<div th:replace="fragments/carousels :: carousel-principal"></div>

<div th:replace="fragments/trajet-form :: trajet-form"></div>

<div th:replace="fragments/carousels :: carousel-secondaire"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
